.pet-list-container {
  display: flex;
  height: 2em;
  justify-content: space-between;
}

.pet-list-ele {
  position: relative;
  flex: 1;
  text-align: center;
  min-width: 0;
  padding: 10rpx 10rpx;
  align-items: center;
}
.pet-takeup-ele{
	position:ralative;
	flex:0.15;
}

.pet-pic-icon {
  position: absolute;
  left: 160rpx;
  top: 20rpx;
  width: 20rpx;
  height: 20rpx;
}

.pet-text-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pet-master-list {
  /* 整个页面布局 */
  height: 90vh;
  background-color: #f4f5f9;
  padding: 20rpx 0 0 0;
  /* 已修改 */
  display: flex;
  flex-direction: column;

  /* 新增 */
}

.pet-master {
  /* 卡片盒子 */
  display: flex;

  margin: 8rpx 16rpx 8rpx 16rpx;

  background-color: white;
  height: 200rpx;
  border-radius: 32rpx;
}

.pet-avatar {
  flex: 2.8;
  margin: 40rpx 0px 40rpx 0rpx;
  height: 120rpx;
  width: 120rpx;
}

.pet-introduction {
  flex: 9.5;
  margin: 20rpx 30rpx 20rpx 10rpx;
}

.pet-status {
  width: auto;
  padding:0rpx 20rpx 0rpx 20rpx;
  text-align: center;
  border-radius: 20rpx;
  height: 44rpx;
}



.pet-distance {
  /* position: absolute; */
  color: grey;
  font-size: 30rpx;
  text-align: center;
  /* top: 15px */
  /* border: 1px solid red; */

}

.pet-order {
  /*  position: absolute; */
  width: 130rpx;
  height: 50rpx;
  text-align: center;
  margin: 30rpx auto;
  /* padding-top: 5px; */
  font-weight: bold;
  font-size: 28rpx;
  border-radius: 40rpx;
  background-color: #b2d76e;

  /* top: 50px;
  right: 8px; */
  /* border: 1px solid red; */

}

.pet-wizard {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100rpx;
  display: grid;
  background-color: white;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding-bottom: 20rpx;
}

.pet-wizard-image {
  height: 46rpx;
  margin: 10rpx 0rpx 0rpx 50rpx;
}

.pet-wizard-text {
  text-align: center;
  margin-right: 6rpx;
  color: rgb(219, 223, 232);
  font-size: 24rpx;
}

.pet-unique {
  height: 112rpx;
  margin: -52rpx 0rpx 0rpx 10rpx;
}

.pet-text-green {
		background-color: #edf6f3;
	}

	.pet-text-yellow {
		background-color: #fff6ab;
	}

	.pet-text-gray {
		background-color: #e5e5e5;
	}

	.pet-score {
		font-size: 27rpx;
		margin-right: 10rpx;
		margin-top: 5rpx;
		color: red;
		font-weight: bold;
	}

	.pet-label {
	    width: auto;
	    font-size: 20rpx;
	    padding: 0 10rpx 0 10rpx;
	    margin-right: 15rpx;
	    border-radius: 12rpx;
	    height: 42rpx;
	    color: #456714;
	    background-color: #cee5ae;
	    
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}